<div class="card-body">
  <div class="card">      <div class="accordion md-accordion" id="accordionEx" role="tablist" >
        <a data-toggle="collapse" data-parent="#accordionEx"href="#at-a-glance" >
    <li class="list-group-item "id="card-header">Quarterly Calculations </li>
    </a>
    <div class = "collapse hide" id = "at-a-glance">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
        <tr class =  "at-a-glance">
          <td class="td-sm">Report Details
          </td>
          <td class="td-sm">Quarter 1
          </td>
          <td class="td-sm">Quarter 2 
          </td>
          <td class="td-sm">Quarter 3 
          </td>
          <td class="td-sm">Quarter 4
          </td>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Report Type</td>
            <td>Original</td>
            <td>Original</td>
            <td>Original</td>
            <td>Original</td>
            </tr>
        <tr>
            <td>Submitted on</td>
            <td>1/23/2019</td>
            <td>1/23/2019</td>
            <td>1/23/2019</td>
            <td>1/23/2019</td>


        </tr>
        <tr>
            <td> Submitted By</td>
            <td>IdeaCrew</td>
            <td>IdeaCrew</td>
            <td>IdeaCrew</td>
            <td>IdeaCrew</td>

        </tr>
        <tr>
            <td> User Name</td>
            <td>Dan Thomas</td>
            <td>Dan Thomas</td>
            <td>Dan Thomas</td>
            <td>Dan Thomas</td>
        </tr>
      </tbody>
        <thead>
          <tr class = 'at-a-glance'>
          <td class="td-sm">Quarterly Wages
            </td>
            <td class="td-sm">Quarter 1
            </td>
            <td class="td-sm">Quarter 2 
            </td>
            <td class="td-sm">Quarter 3 
            </td>
            <td class="td-sm">Quarter 4
            </td>
            <td class="td-sm">Total
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>Total Wages</td>
              <td><%=number_to_currency(530)%></td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(139.23)%></td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(1069.23)%></td>

          </tr>
          <tr>
              <td>Taxable Wages</td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(330.30)%></td>
              <td><%=number_to_currency(100)%></td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(830.3)%></td>

          </tr>
          <tr>
              <td>Excess Wages</td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(100.45)%></td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(700.45)%></td>

           </tr>
      </tbody>

      <thead>
        <tr class = 'at-a-glance'>
        <td class="td-sm">Contributions
          </td>
          <td class="td-sm">Quarter 1
          </td>
          <td class="td-sm">Quarter 2 
          </td>
          <td class="td-sm">Quarter 3 
          </td>
          <td class="td-sm">Quarter 4
          </td>
          <td class="td-sm">Total
            </td>
          </td>
        </tr>
      </thead>
        <tbody>
          <tr>
              <td>UI Tax</td>
              <td><%=number_to_currency(100)%></td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(500.30)%></td>
              <td><%=number_to_currency(300)%></td>
              <td><%=number_to_currency(1100.30)%></td>

          </tr>
          <tr>
              <td>Administrative Assesment  </td>
              <td><%=number_to_currency(120.23)%></td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(720.23)%></td>

          </tr>
          <tr>
              <td>Interest</td>
              <td><%=number_to_currency(145.23)%></td>
              <td><%=number_to_currency(100)%></td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(645.23)%></td>

           </tr>
          <tr>
              <td>Penalty</td>
              <td><%=number_to_currency(430.24)%></td>
              <td><%=number_to_currency(100)%></td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(200)%></td>
              <td><%=number_to_currency(543.24)%></td>

          </tr>
      </tbody>

  
    </table>
  </div>
  </div>
  </div>
</div>



