<%if @current_report%>
  <div class="card-body">
    <div class="card">
      <div class="accordion md-accordion" id="accordionEx" role="tablist" >
          <a data-toggle="collapse" data-parent="#accordionEx" href="#new-entry">
            <li class="list-group-item" id = "card-header"> Add Wage Entries </li>
          </a>
      </div>
      <div class="collapse hide" id="new-entry" role="tablist" >
            <%= form_for @current_report, url: employer_wage_reports_path(@organization), method: :post do |f| %>
              <%= f.fields_for :new_wage_entry do |field| %>
              <div class= 'card-body'>
                <div class="row ">
                  <div class = "col">
                  <%=f.hidden_field :report_id,:value => @current_report.id%>
                    <%= field.text_field :person_first_name, placeholder:"Employee First Name", required: true, :class =>" input form-control" %>
                  </div>
                  <div class = "col">
                    <%= field.text_field :person_last_name, placeholder: "Employee Last Name",required: true, :class =>" input form-control" %>
                  </div>
                  <div class="col">
                    <%= field.number_field :state_total_gross_wages, placeholder:"Total Gross Wages", required: true,:class =>"input form-control" %>
                  </div>
                  <div class="col">
                    <%= field.number_field :state_total_wages, placeholder:" State Total Wages", required: true, :class =>"input  form-control" %>
                  </div>
                  <div class="col">
                    <%= field.number_field :state_excess_wages, placeholder:"State Excess Wages", required: true, :class =>"input  form-control" %>
                  </div>
                  <div class="col">
                    <%= field.number_field :state_taxable_wages, placeholder:"State Taxable Wages",  required: true, :class =>"input  form-control" %>
                  </div>
                  <% end %>
              </div>
              <%= f.submit 'Add Entry', :class =>"btn btn-outline-primary btn-rounded",:id => "start-report" %>
          </div>
        <% end %>
        <%end%>
    </div>
  </div>
</div>
