<div class="card-body">
    <div class="card">
      <div class="card-header " id= "card-header" >Amend Report </div>
          <div class= 'row edit-wage-report-card'>
            <div class = 'col  edit-wage-report-card'>Employee</div>
            <div class = 'col'>SSN</div>
            <div class = 'col'>UI Wages Paid</div>
            <div class = 'col'>Amend Reason</div>
            <div class = 'col'>Actions</div>


          </div>
      <div class="card">
        <div class="card-body">
           <%= form_for @report, url: wage_report_path(@report), method: :put do |f| %>
            <% @entries.each do |entry| %>
              <%= f.fields_for "wage_entries[]", entry do |wage_entry_field| %>
                <%= wage_entry_field.fields_for :wage, entry.wage do |wage_field| %>
                  <%= wage_field.hidden_field :id %>
                  <div class="row">
                    <div class="col">
                      <%="#{entry.try(:wage).try(:person_party).try(:current_first_name) +" " + entry.try(:wage).try(:person_party).try(:current_last_name) }" %>
                    </div>
                    <div class = 'col '>
                      <%= "#{entry.wage.person_party.hide_ssn}"%>
                    </div>              
                    <div class= 'col'>
                      <%= wage_field.text_field :state_total_gross_wages, :class =>" input form-control" %>
                    </div>         
                      <div class= 'col destroy-entry'>
                      <%= select_tag "amend_reason", options_for_select(@amend_reasons[0..5] ) %>
                      </div>
                      <div class= 'col destroy-entry'>
                      <%= link_to "X", wage_report_path(@report, :entry => entry.id), :method => :delete, :class =>"start-report" %>
                    </div>        
                  </div>
              <%end%>
          <%end%>
        <%end%>
          <%= f.fields_for :new_wage_entry do |field| %>
            <div class="row ">
              <div class = "col">
              <%= field.text_field :person_first_name, placeholder:"Employee First Name", :class =>" input form-control" %>
              </div>
              <div class = "col">
              <%= field.text_field :person_last_name, placeholder: "Employee Last Name", :class =>" input form-control" %>
              </div>
              <div class="col">
                <%= field.number_field :state_total_gross_wages, placeholder:"UI Wages Paid",:class =>"input form-control" %>
              </div>
              <div class="col">
                  <%= field.number_field :ssn, placeholder:"SSN", :class =>"input  form-control" %>
              </div>
              <div class="col">
                  <%= select_tag :amend_reason, options_for_select(@amend_reasons) %>
              </div>

              <% end %>
              </div>
       <div id= "button-row"> 
        <%= f.submit 'Amend Report', :class =>"btn btn-outline-primary btn-rounded",:id => "start-report" %>
        <%= f.submit 'Cancel', :class =>"btn btn-outline-primary btn-rounded input", :id => "start-report"  %>
        <%= f.submit 'Save', :class =>"btn btn-outline-primary btn-rounded input ",:id => "start-report" %>
       </div>
      <% end %>
    </div>
  </div>

