<div class='row'>
  <div class='col-md-6 er-list-group'>
    <% @organization.party_ledger.financial_accounts.each do |account| %>
      <div class='row'>
        <div class='col'>
          <strong><%= account.title %></strong>
        </div>
      </div>
      <div class='row'>
        <div class = 'col'>
          <p class = "data-label">Opened On</p>
          <p><%= account.opened_on.strftime('%m/%d/%Y') %></p>
        </div>
      </div>
      <div class='row'>
        <div class = 'col'>
          <p class = "data-label">Status</p>
          <p><%= account.status.capitalize%></p>

        </div>
      </div>
      <div class='row'>
        <div class = 'col'>
          <p class = "data-label">Inital Liability Date</p>
          <p><%= account.initial_liability_date.strftime('%m/%d/%Y') %></p>

        </div>
      </div>
      <div class = 'row'>
        <div class = 'col'>
          <p  class="data-label">Current Contribution Rate</p>
          <p><%=  number_to_percentage(account.current_contribution_rate * 100, precision: 1)%></p>
        </div>
      </div>
      <div class='row'>
        <div class = 'col'>
          <p class="data-label">Current Wage Filing Schedule</p>
          <p><%= account.current_wage_filing_schedule == :uits_qtr_filer ? 'Quarterly' : 'Annually' %></p>
          </div>
      </div>
      <div class='row'>
          <div class = 'col'>
            <p class="data-label">Administrative Assesment Rate</p>
            <p><%= number_to_percentage(account.current_administrative_rate * 100, precision: 1)  %></p>
        </div>
      </div>
      <div class = 'row'>
        <div class = 'col'>
          <p class="data-label">Current Balance</p>
          <p><%= number_to_currency(account.current_balance)%></p>
        </div>
      </div>
      <div class='row'>
        <div class = 'col'>
        </div>
        <div class = 'col'>
        </div>
      </div>
    <% end %>
    <a href="https://ww2.e-billexpress.com/ebpp/MAConnector/" target="_blank"><button class="btn btn-raised btn-success">Make A Payment</button></a>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <strong>Notifications</strong>
      </div>
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item"><a href="#">2019 Quarter 1 Wage Report (U3) are almost due</a></li>
          <li class="list-group-item"><a href="#">New Features for Employers are now available</a></li>
          <li class="list-group-item"><a href="#">2018 Annual Wage Reporting period is now closed</a></li>
        </ul>
        <br />
        <button class="btn btn-raised btn-success">Create New Notification</button>
      </div>
      <div class="col-md-12">
        <hr>
      </div>
      <div class="col-md-12">
        <strong>My Agent</strong>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <i class="fas fa-address-card fa-9x"></i>
          </div>
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item"><a href="#">Small Business Insurance Ltd.</a></li>
              <li class="list-group-item">John Smith</li>
              <li class="list-group-item">202-111-22222</li>
              <li class="list-group-item">john.smith@sbi.com</li>
            </ul>
            <br />
            <button class="btn btn-raised btn-secondary">Change</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
