<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar uits-nav pt-1 pb-1">
      <span class="navbar-brand mb-0 h1">
        <button class="navbar-toggler float-right" type="button" data-toggle="drawer" data-target="#dw-p1">
          <span class="sr-only">Toggle drawer</span>
          <i class="fas fa-bars"></i>
        </button>
        <span class="heading-txt">UITS</span>
      </span>
    </nav>
    <% if alert %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>
    <div class="main-container">
      <div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-in">
        <header class="bmd-layout-header">
          <div class="row ml-2">
            <ul class="nav navbar-nav">
              <li class="nav-item"></li>
            </ul>
          </div>
        </header>
        <div id="dw-p1" class="bmd-layout-drawer">
          <div id="side-menu">
            <ul class="list-group">
              <li class="list-group-item pr-1 side-menu-item" data-toggle="collapse" data-target="#myAccount" aria-expanded="true" aria-controls="collapseOne" id="my-account">My Account</li>
              <ul id="myAccount" class="collapse pl-0" aria-labelledby="headingOne" data-parent="#side-menu">
                <li class="list-group-item pb-0 pl-3 mb-1"><i class="fas fa-user"></i></i> My Profile</li>
                <li class="list-group-item pb-0 pl-3 mb-1"><i class="fas fa-envelope"></i> Messages</li>
                <li class="list-group-item pb-0 pl-3"><i class="fas fa-power-off"></i> <%= link_to "Log Out", destroy_user_session_path %></li>
                <hr class="mt-4">
              </ul>

              <li class="list-group-item pr-1"><i class="fas fa-home mr-3"></i> <%= link_to 'Dashboard', dashboard_index_path %>
              <li class="list-group-item pr-1" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne" id="employer-menu-option"><i class="fas fa-users mr-3"></i> <%= link_to 'Employers', employers_path %>
                <ul id="employers" class="collapse" aria-labelledby="headingOne" data-parent="#side-menu">
                  <li class="list-group-item pb-0 pl-0"><span id="employerName"></span></li>
                  <li class="list-group-item pb-0 pl-0"><a href="#" id="employerWageReport">Wage Reports</a></li>
                  <li class="list-group-item pb-0 pl-0">Accounts</li>
                  <li class="list-group-item pb-0 pl-0">Profile</li>
                </ul>
              </li>

              <li class="list-group-item pr-1 side-menu-item" data-toggle="collapse" data-target="#tpa" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-cogs  mr-3"></i> TPA <br />
                <ul id="tpa" class="collapse" aria-labelledby="headingOne" data-parent="#side-menu">
                  <li class="list-group-item pb-0 pl-0"><%= link_to 'Settings', settings_home_path %></li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
        <main class="bmd-layout-content">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </main>
      </div>
      <footer class="pt-2 pb-2 pl-3">
        <i class="fas fa-copyright"></i> 2019 IdeaCrew Inc
      </footer>
    </div>
  </body>
</html>
